# Python specific
__pycache__/
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtual environments
env/
venv/
ENV/
VENV/
*.env
*.venv
*.virtualenv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and local files
*.log
*.pid
*.gz
*.json

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# Other
*.bak
*.swp
*.tmp
env.py
